<aside class="sidebar">
  <nav class="menu">
    <a class="menu-item active">
      <i class="icon dashboard"></i>
      <span>Dashboard</span>
    </a>

    <a class="menu-item">
      <i class="icon box"></i>
      <span>Produtos</span>
    </a>

    <div class="submenu">
      <a class="menu-item sub active">
        <i class="icon tag"></i>
        <span>Produtos</span>
      </a>

      <a class="menu-item sub">
        <i class="icon layers"></i>
        <span>Estoque</span>
      </a>
    </div>

    <a class="menu-item">
      <i class="icon settings"></i>
      <span>Configurações</span>
    </a>
  </nav>
</aside>
