$sidebar-bg: #2f343b;
$sidebar-text: #cfd3dc;
$sidebar-text-muted: #64748b;
$sidebar-border: #334155;
$background-color: #181c22;
$background-secondary: #21252b7e;

$active-blue: #2b8cff;
$hover-overlay: rgba(255, 255, 255, 0.05);

$white: #ffffff;
$dark-bg: #1e293b;
