@import 'variables';

mat-sidenav-content {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  overflow: hidden !important;
}

.page-content {
  flex: 1;
  overflow-y: auto !important;
  overflow-x: hidden;

  padding: 24px 40px;

  padding-bottom: 80px !important;

  box-sizing: border-box;
  background-color: $background-color !important;
  -webkit-overflow-scrolling: touch;
}
