@import 'variables';

html,
body,
mat-sidenav-content,
mat-sidenav-container.main-container {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $background-color !important;
  color: $white;
  overflow-x: hidden !important;
}

mat-sidenav-container.main-container {
  height: 100vh;
  /* Removido overflow: hidden para permitir crescimento do conteúdo e scroll correto */
}

mat-sidenav.custom-sidenav {
  width: 260px;
  background-color: $sidebar-bg;
  border-right: 1px solid $sidebar-border;
  overflow: hidden !important;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto; // O scroll deve ficar aqui para o padding funcionar na div interna
  overflow-x: hidden;
}

.page-content {
  display: block; // Força a div a respeitar o box model
  width: 100%;
  box-sizing: border-box;
  padding: 24px !important; // O !important aqui garante que o Material não sobrescreva
  background: $background-color !important;

  // Isso garante que o conteúdo estique e aceite o padding
  min-height: calc(100vh - 64px);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
